%p#notice= notice
%h1 Comments
%table
  %thead
    %tr
      %th Content
      %th Like
      %th{:colspan => "3"}
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.content
        %td= comment.like
        %td= link_to 'Show', topic_comment_path(@topic, comment)
        %td= link_to 'Edit', edit_topic_comment_path(@topic, comment)
        %td= link_to 'Destroy', topic_comment_path(@topic, comment), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Comment', new_topic_comment_path
