= image_tag("/images/header.png", width: '375', alt: "なろう廃人のすすめ", class: "d-block d-md-none mx-auto")
= image_tag("/images/header-pc.png", alt: "なろう廃人のすすめ", class: "d-none d-md-block img-fluid pb-2")
.container.pt-2{:style => "background-color:#e0ffff;"}
  .row.mx-1
    .card
      .font-weight-bold
        人気記事
      %hr{style: "margin: 0px;"}
      .card-body{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
        = link_to "1:軽く読める短編でおすすめのやつを教えてください。", "https://narou-osusume.com/topics/29"
      %hr{style: "margin: 0px;"}
      .card-body{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
        = link_to "2:勘違い系のおすすめが知りたいです。", "https://narou-osusume.com/topics/1"
      %hr{style: "margin: 0px;"}
      .card-body{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
        = link_to "3:あなたが1つだけ誰かにオススメするとしたらどの小説にしますか？", "https://narou-osusume.com/topics/33"
      %hr{style: "margin: 0px;"}
      .card-body{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
        = link_to "4:書籍化したなろうで明らかに良くなったやつとかあるの？", "https://narou-osusume.com/topics/5"
      %hr{style: "margin: 0px;"}
      .card-body{style: "padding-top: 0px; padding-bottom: 0px; bordercolor:#e0e2e6;"}
        = link_to "5:異世界転生もののテンプレって実際どんなのだろ？", "https://narou-osusume.com/topics/6"
      %hr{style: "margin: 0px;"}
  .row
    %p#notice= notice
  - @topics.each do |topic|
    = link_to(topic_path(topic)) do
      .card.mx-auto.shadow
        .card-body.py-1
          .row
            .font-weight-bold{:style => "font-size:18px; color:#283593;"}
              = topic.content
          .row
            .small.text-muted.p-1.pt-2{:style => "font-size:11px"}
              %span{"class"=>"comment-count"}【
              .fa.fa-comments-o.topic-comment-icon
              %span{"class"=>"comment-count"}（#{topic.comments.count}）】
              -# 名前表示がごちゃっとするから一旦コメントアウト
              -# - if topic.name.present?
              -#   %span{"class"=>"topic-create-user-name"}【
              -#   .fa.fa-pencil.topic-name
              -#   %span{"class"=>"topic-create-user-name"} #{topic.name}】
              = topic.created_at.strftime("%Y/%m/%d/ %H:%M")

  .row.m-3
    / 切り替えボタンの設定
    %button.btn.comment-button{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
      = fa_icon 'pencil 2x'
    / モーダルの設定
    #myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog.modal-dialog-centered{:role => "document"}
        .modal-content
          .modal-header
            #exampleModalLabel.modal-title
              .h3.mt-2
                新しい話題を作る
            %button.close{"aria-label" => "閉じる", "data-dismiss" => "modal", :type => "button"}
              .pt-3{"aria-hidden" => "true"} ×
          .modal-body
            .row
              .mx-auto
                = form_for(@topic) do |f|
                  .mx-auto
                    = f.label :name
                    = f.text_field :name, :value=>"なろう廃人さん", :placeholder=>'名前'
                  = f.text_area :content, :placeholder=>'廃人さんたちに訊きたいことを書いてください！', class: "mx-auto mt-2 d-block modal-topic-text"
                  .m-3
                    = f.submit "質問作成", class: "btn btn-primary px-5 mx-auto d-block"
