<div class="container px-2" style="background-color:#e0ffff;">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <h1 class="col-12">なろうのすすめ</h1>
  </div>

    <% @topics.each do |topic| %>
      <%= link_to(topic_path(topic)) do %>
        <div class="card mx-auto mb-1 yubi shadow">
          <div class="card-body pb-2">
            <div class="row" >
              <div class="font-weight-bold" style="font-size:18px; color:#283593;">
                <%= topic.content %>
              </div>
            </div>
            <div class="row">
              <div class="small text-muted p-1 pt-2" style="font-size:11px">
                回答数（<%= topic.comments.count %>）
                <div>
                  <%= topic.created_at.strftime("%Y/%m/%d/ %H:%M:%S") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>


  <div class="row">
    <br>

    <%= link_to '誰かのおすすめが聞きたい！', new_topic_path, class: 'btn btn-outline-info alert-info'%>
  </div>

</div>
